<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Titanic - ML Practising</title>
  </head>
  <body>
    <div class="jumbotron">
      <h1 class="display-4">Titanic Voyage Predictor</h1>
      <p class="lead">Get your Titanic Prediction here!</p>
      <hr class="my-4" />
      <p>Enter in the details of a made up person on the Titanic Voyage</p>
      <p>I will output a prediction!</p>
    </div>

    <form action="{% url 'result'%}" style="margin-left:2rem;">
      {% csrf_token %}
      <p>Pclass</p>
      <input type="text" name="pclass" >

      <p>Sex</p>
      <input type="text" name="sex" >

      <p>Age</p>
      <input type="text" name="age" >

      <p>Sibsp</p>
      <input type="text" name="sibsp" >

      <p>Parents/Children</p>
      <input type="text" name="parch" >

      <p>Fare</p>
      <input type="text" name="fare" >

      <p>Embarked</p>
      <input type="text" name="embarked" >

      <p>Title</p>
      <input type="text" name="title" >
      <br>
      <br>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
